*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Dancing Script', cursive;
*/

header{
	width: 100%;
	padding: 30px 0px;
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.nav{
	display: flex;
	justify-content: space-between;
}
.logo-menu{
	display: flex;
	justify-content: space-between;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	line-height: 64px;
	margin-left: 10px;
}

.menu ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #5c5c5c;
}

.btn{
	background: #dd5353;
	color: white;
	padding: 12px 50px;
	border:none;
	border-radius: 2px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 12px;
}




.banner{
	width: 100%;
	padding: 60px 0px;
}

.banner-content{
    display: flex;
}

.right{
	flex-basis: 55%;
}
.left{
	flex-basis: 45%;
	margin-top: 40px;
	text-align: left;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #0f2656;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #b3a6a6;
}
.right img{
	height: auto;
	width: 100%;
}
.left i{
	padding-top: 16px;
	color: #b3a6a6;
}



.demo{
	width: 100%;
	padding-top: 140px;
}

.up h3{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color:  #0f2656;
	padding-bottom: 12px; 
}
.up p{
	font-family: 'Dancing Script', cursive;
	font-size: 14px;
	color: #5a5454;
	text-align: center;
	padding-bottom: 16px;
}

.down{
	display: grid;
	grid-template-columns: auto auto auto auto;
}


.demop-1 h4{
	    margin-top: 20px;
        padding: 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	    font-size: 16px;
	    color:  #5a5454;
}
.demop-2 h4{
	    margin-top: 20px;
        padding: 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	    font-size: 16px;
	    color:  #5a5454;
}

.demop-3 h4{
	    margin-top: 22px;
        padding: 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	    font-size: 16px;
	    color:  #5a5454;
}
.demop-4 h4{
	    margin-top: 20px;
        padding: 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	    font-size: 16px;
	    color:  #5a5454;
}






.features{
	width: 100%;
	padding-top: 250px;
	padding-bottom: 50px;
}

.feature-content{
	display: grid;
	grid-template-columns: auto auto auto;
}

.upper h6{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color:  #0f2656;
	padding-bottom: 8px; 
}
.upper p{
	font-family: 'Dancing Script', cursive;
	font-size: 14px;
	color: #5a5454;
	text-align: center;
	padding-bottom: 16px;
}


.item-1 i, .item-2 i, .item-3 i, .item-4 i, .item-5 i, .item-6 i{
	border-radius: 100%;
	height: 40px;
	width: 40px;
	color: red;
	text-align: center;
	line-height: 40px;
}
.item-1 i, .item-2 i, .item-3 i, .item-4 i, .item-5 i, .item-6 i{
	background-color: #fbf9f9;
}
.item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
	background-color: #d9d9d2;
}
.item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
	margin: 16px;
	border-radius: 2px;
}
.item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
	padding: 32px 16px;
}
.item-1 h6, .item-2 h6, .item-3 h6, .item-4 h6, .item-5 h6, .item-6 h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #0f2656;
	margin-bottom: 10px;
	margin-left: 16px;
	text-align: center;
}
.log{
	padding-bottom: 12px;
    padding-left: 140px;
}
.item-1 p, .item-2 p, .item-3 p, .item-4 p, .item-5 p, .item-6 p{
	font-family:  'Open Sans', sans-serif;
	font-size: 10px;
	color: #5a5454;
	text-align: center;
	padding-bottom: 16px;
}




.footer-part{
	width: 100%;
	background-color: #292640;
	padding: 30px 0px;
	text-align: center;
}
.foot-sect p{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-top: 50px;
}
.footer-last input{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300px;
	padding: 12px 30px;
	color: white;
	border: none;
	background-color: #ff6162;
	border-radius: 5px;
	margin-top: 30px;
}
.footer-last input:hover{
	background-color: #9e47b4;
}
.footer-last-1{
	width: 100%;
	background-color: #292640;
	padding: 30px 0px;
	text-align: center;
}
.footer-last-1 img{
	width: 10%;
}